<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Homepage</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="jumbotron text-center">
  <h1>Welcome to My Homepage</h1>
  <p>Resize this responsive page to see the effect!</p> 
</div>
  
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>About Me</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
    </div>
    <div class="col-sm-4">
      <h3>My Skills</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
    </div>
    <div class="col-sm-4">
      <h3>Contact</h3>        
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
    </div>
  </div>
</div>
<a href="/signUp"><button>Go on sign up</button></a>
<br>
<a href="/contact"><button>Contact Us</button></a>
<br>
<a href="/service"><button>Service</button></a>
<br>
<a href="/userdata"><button>give your data</button></a>

</body>
</html>
