<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>crop prediction</title>
    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Add custom CSS -->
    <style>
        body {
            background-color: #f8f9fa;
            padding: 20px;
        }
        h2 {
            text-align: center;
            margin-bottom: 50px;
        }
        .form-group {
            margin-bottom: 15px;
        }
        .btn {
            width: 100%;
        }
    </style>
</head>

<body>
    <div class="container">
        <h2>INPUT DATA PAGE OF MY PROJECT</h2>
        <form action="{{ url_for('prediction') }}" method="post">
            <div class="form-group">
                <label for="N">N:</label>
                <input type="text" name="N" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="P">P:</label>
                <input type="text" name="P" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="K">K:</label>
                <input type="text" name="K" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="Temp">Temperature:</label>
                <input type="text" name="Temp" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="Hum">Humidity:</label>
                <input type="text" name="Hum" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="ph">pH:</label>
                <input type="text" name="ph" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="rain">Rainfall:</label>
                <input type="text" name="rain" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit Data</button>
        </form>
    </div>
    <!-- Add Bootstrap JS and its dependencies -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>
